<div class="container pt-4">
  <h3>NG Eventstore Listing Demo</h3>
  <lib-ng-eventstore-listing
    [idPropertyName]="idPropertyName"
    [inputDataList]="currentData"
    [itemComponentClass]="rowComponentClass"
    [subscriptionTopicConfigurations]="subscriptionTopicConfigurations"
    [socketUrl]="socketUrl"
    [playbackFiles]="playbackFiles">
  </lib-ng-eventstore-listing>
  <lib-ng-header-footer-template-holder [componentClass]="footerComponentClass"[actualItemCount]="actualItemCount" [itemsPerPage]="itemsPerPage" [pageIndex]="pageIndex" [totalItemCount]="totalFilteredItems" (pageChangedEmitter)="onPageUpdate($event)"></lib-ng-header-footer-template-holder>
</div>

